@import "variables";
/* Loader - spinner */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 0.7rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.7rem solid #3498db;
  width: 2rem;
  height: 2rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-small {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 0.5rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.5rem solid #3498db;
  width: 1rem;
  height: 1rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-big {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 0.8rem solid #f3f3f3;
  border-top: 0.8rem solid #3498db;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Buttons */
.btn {
  /* Button Base */
  padding: 1rem 2rem;
  background-color: $primary;
  color: set-text-color($primary);
  border-radius: 0.4rem;
  transition: 0.3s;
  box-shadow: 0px 1px 8px -5px #333;
  font-size: 1.5rem;
  display: block;

  &:hover,
  &:focus {
    background-color: $primary-dark;
    color: set-text-color($primary-dark);
    cursor: pointer;
    box-shadow: 0px 1px 8px -3px #333;
  }

  /* COLORS */

  /* Secondary */
  &-secondary {
    background-color: $secondary;
    color: set-text-color($secondary);

    &:hover,
    &:focus {
      background-color: $secondary-dark;
      color: set-text-color($secondary-dark);
    }
  }

  /* Error Button */
  &-error {
    color: set-text-color($error);
    background-color: $error;
    box-shadow: none;

    &:focus,
    &:hover {
      background-color: $error-dark;
      color: set-text-color($error-dark);
    }
  }

  /* Warning */
  &-warning {
    background-color: $warning;
    color: set-text-color($warning);

    &:hover,
    &:focus {
      background-color: $warning-dark;
      color: set-text-color($warning-dark);
    }
  }

  /* Info */
  &-info {
    background-color: $info;
    color: set-text-color($info);

    &:hover,
    &:focus {
      background-color: $info-dark;
      color: set-text-color($info-dark);
    }
  }

  /* Success */
  &-success {
    background-color: $success;
    color: set-text-color($success);

    &:hover,
    &:focus {
      background-color: $success-dark;
      color: set-text-color($success-dark);
    }
  }
}

.btn-block {
  width: 100%;
}

.btn-text {
  background-color: transparent;
  color: $primary;
  box-shadow: none;
  text-decoration: underline;
  padding: 0 !important;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $primary;
    box-shadow: none;
    text-decoration: none;
  }
}
