/* Colors */
$primary: #3f51b5;
$primary-light: #7986cb;
$primary-dark: #303f9f;

$secondary: #f50057;
$secondary-light: #ff4081;
$secondary-dark: #c51162;

$error: #f44336;
$error-light: #e57373;
$error-dark: #d32f2f;

$warning: #ff9800;
$warning-light: #ffb74d;
$warning-dark: #f57c00;

$info: #2196f3;
$info-light: #64b5f6;
$info-dark: #1976d2;

$success: #4caf50;
$success-light: #81c784;
$success-dark: #388e3c;

$background: #f4f4f4;

$light-grey: rgba(51, 51, 51, 0.247);

$card-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
$card-shadow-hover: 0 8px 8px 0 rgba(0, 0, 0, 0.2);

/* Set Text Color */
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return #000;
  } @else {
    @return #fff;
  }
}
