@import "../../../styles/variables";

.ingredient-item {
  display: inline-block;
  padding: 0.8rem 1rem;
  margin: 0.4rem 0.7rem;
  font-size: 1.4rem;
  background: $primary-dark;
  color: set-text-color($primary-dark);
  border-radius: 1.8rem;

  span {
    margin-right: 0.5rem;
    text-transform: capitalize;
  }

  .fas {
    font-size: 1.6rem;

    &:hover {
      cursor: pointer;
      color: $error-light;
    }
  }
}
